*{
    margin:0;
    padding:0;
}


/*-------------------------
    General Styles
--------------------------*/



body{
    font-family: 'Montserrat', sans-serif;
  background: #535c68;
}

a, a:visited {
    outline:none;
    font-family: 'Varela Round', sans-serif;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}
h1 {
    color: #130f40;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: -.5px;
    font-weight: 700;
    font-size:50px;
    padding-bottom: 10px;
    text-align: center;
  }


/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#f9f9f9;
    width:30%;
    padding:30px;
    border-radius:26px;
    margin:15% auto 6%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop {
    background-color: rgb(239, 239, 239);
    margin-top: 40%;
    border: 20px solid rgba(0, 0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: #7d8891;
    border: 5px dashed rgba(198, 198, 198, 0.65);
    border-radius: 26px;
    padding: 50% 20px;
    height: 10%;
}

#dropp {
    padding: 5% 20px;
    width: 100%;
    height: 60%;
    overflow: scroll;
    background-color: rgb(239, 239, 239);
    margin-top: -10%;
    border: 20px solid rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #7d8891;
    border: 5px dashed rgba(198, 198, 198, 0.65);
    border-radius: 26px;
}
#clippy {
    padding: 5% 20px;
    height: 66%;
    max-height: 55%;
    width: 85%;
    overflow: scroll;
    background-color: rgb(239, 239, 239);
    margin-top: -20%;
    border: 20px solid rgba(0, 0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    color: #7d8891;
    border: 5px dashed rgba(198, 198, 198, 0.65);
    border-radius: 26px;
}

#drop a{
    background-color:#2384d3;
    padding:22px 46px;
    color:#fff;
    font-size:20px;
    border-radius:26px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:30px 1px;
}

#upload ul li{

    background-color: rgb(239, 239, 239);



    border: 2px dashed rgba(198, 198, 198, 0.65);
    border-radius: 26px;
    padding:25px 15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    color: #7f7f7f;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 43px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}